#### Q-3 Create a function that finds each factor of a given number n. Your solution should return a list of the number(s) that meet this criteria.

Examples
find_factors(9) ➞ [1, 3, 9]
#9 has three factors 1,3

In [2]:
x=int(input('enter the number'))
y=[]
for i in range(1,x+1):
    if x%i==0:
        y.append(i)   
print(y)

enter the number12
[1, 2, 3, 4, 6, 12]

#### Q=> 18 Create a function that takes a number n and returns the sum of all square numbers up to and including n.

squares_sum(3) ➞ 14
#1² + 2² + 3² =
#1 + 4 + 9 =
#14

###

In [14]:
x=int(input('enter the number'))
sum_total=0      
for i in range (1,x+1):
      sum_total+=i**2
print(sum_total)

enter the number4
30

In [12]:
n = 5
sum = 0
for i in range(1, n+1):
	sum += i**2

print("The sum of squares of first", n, "natural numbers is", sum)

The sum of squares of first 5 natural numbers is 55

#### Given a list of numbers, negate all elements contained within.

Negating a positive value -+n will return -n, because all +'s are removed.
Negating a negative value --n will return n, because the first - turns the second minus into a +.
Examples
negate([1, 2, 3, 4]) ➞ [-1, -2, -3, -4]

negate([-1, 2, -3, 4]) ➞ [1, -2, 3, -4]

In [4]:
n=[-1,-2,-3,4,5]
for i in range(len(n)):
    n[i]=-n[i]
print(n)

[1, 2, 3, -4, -5]

In [3]:
x= [1,2,-3,4]
for i in range(len(x)):
         x[i] = -(x[i])
print(x)

[-1, -2, 3, -4]

#### number added with its additive inverse equals zero. Create a function that returns a list of additive inverses.

Examples
additive_inverse([5, -7, 8, 3]) ➞ [-5, 7, -8, -3]

additive_inverse([1, 1, 1, 1, 1]) ➞ [-1, -1, -1, -1, -1]

additive_inverse([-5, -25, 35]) ➞ [5, 25, -35]
Notes

In [5]:
n=[-1,-2,-3,4,5,6]
for i in range(len(n)):
    n[i] = -(n[i])
print(n)

[1, 2, 3, -4, -5, -6]

#### Write a function that takes the last number of a consecutive list of numbers and returns the total of all numbers up to and including it.

Examples
add_up_to(3) ➞ 6
#1 + 2 + 3 = 6

add_up_to(10) ➞ 55
#1 + 2 + 3 + ... + 10 = 55

add_up_to(7) ➞ 28

In [15]:
x=int(input('enter the number'))
sum_total=0
i=0
for i in range(x+1):
    sum_total+=i
print(sum_total)

enter the number10
55

#### Create a function that takes two parameters (start, stop), and returns the sum of all even numbers in the range.

Examples
sum_even_nums_in_range(10, 20) ➞ 90
#10, 12, 14, 16, 18, 20

In [21]:
even_total=0
for i in range(20,30):
    if i%2==0:
        even_total+=i
print(even_total)

120

#### A palindrome is a word that is identical forward and backwards.

mom
racecar
kayak
Given a word, create a function that checks whether it is a palindrome.

Examples
is_palindrome("mom") ➞ True

is_palindrome("scary") ➞ False

In [22]:
x=input('enter a string:')
y = x[::-1]
if x == y:
    print('True')
else:
    print('False')

enter a string:mom
True

In [1]:
x = input('enter a string')
y = [ele for ele in x]
z = ''.join(y.reverse())

enter a stringmom

TypeError: can only join an iterable

#### Q=>23 Implement a function that returns a list containing all the consecutive numbers in ascendant order from the given value low up to the given value high (bounds included).

Examples
get_sequence(1, 5) ➞ [1, 2, 3, 4, 5]

In [8]:
list(i for i in range(1,5+1))

[1, 2, 3, 4, 5]

#### Q=>24 Create a function that finds the index of a given item.

Examples
search([1, 5, 3], 5) ➞ 1

In [11]:
x=[1,3,9,7,5]
y=int(input("enter the number from the list:"))
for i in range(len(x)):
    if y == x[i]:
        print(i)

enter the number from the list:5
4

#### Q=> 25 Given a string of letters, how many capital letters are there?

Examples
capital_letters("fvLzpxmgXSDrobbgMVrc") ➞ 6

In [10]:
x=input('enter the string:')
count=0
for i in range(len(x)):
    if x[i].isupper():
        count+=1
print(count)

enter the string:fvLzpxmgXSDrobbgMVrc
6

#### Q=>26 Create a function that takes a number num and returns the first 10 multiples of num with 1 added to it, separated by commas.

Examples
n_tables_plus_one(7) ➞ "8,15,22,29,36,43,50,57,64,71"

In [8]:
x=int(input('enter the number'))
for i in range(1,11):
    y=i*x+1
    print(y)

enter the number3
4
7
10
13
16
19
22
25
28
31

In [13]:
x=["clever", "meek", "hurried", "nice"]
y=[]
for i in  x :
    y.append(i+'ly')
    
print(y)

['cleverly', 'meekly', 'hurriedly', 'nicely']

### Q=> 28Create a function that takes a list of numbers and returns the sum of its cubes.

Examples
sum_of_cubes([1, 5, 9]) ➞ 855
#Since 1^3 + 5^3 + 9^3 = 1 + 125 + 729 = 855

sum_of_cubes([3, 4, 5]) ➞ 216

In [17]:
x=[5,4,7,8]
y=[]
for i in x:
    y.append(i**3)
sum(y)

1044

#### Q=>30Create a function that takes a number as an argument and returns a list of numbers counting down from this number to zero.

Examples
countdown(5) ➞ [5, 4, 3, 2, 1, 0]

In [1]:
x=int(input("enter the number"))
y=[]
for i in range(0,x+1):
    y.append(x-i)
print(y)

enter the number10
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

#### Q=>31 Create a function that takes a string road and returns the car that's in first place. The road will be made of "=", and cars will be represented by letters in the alphabet.

Examples
first_place("====b===O===e===U=A==") ➞ "A"

In [ ]:
for

### Q=>32 A value is omnipresent if it exists in every sublist inside the main list.

To illustrate:

[[3, 4], [8, 3, 2], [3], [9, 3], [5, 3], [4, 3]]
#3 exists in every element inside this list, so is omnipresent.
Create a function that determines whether an input value is omnipresent for a given list.

Examples
is_omnipresent([[1, 1], [1, 3], [5, 1], [6, 1]], 1) ➞ True

is_omnipresent([[1, 1], [1, 3], [5, 1], [6, 1]], 6) ➞ False

In [5]:
x=int(input('enter the number'))
y=[[3, 4], [8, 3, 2], [3], [9, 3], [5, 3], [4, 3]]
z=True
for i in y:
    if x in i:
        z= z and True
    else:
        z=z and False
if z== True:
    print('omnipresent')
else:
    print('not omnipresent')

enter the number3
omnipresent

#### Q=>33 Create a function that takes a number as its argument and returns a list of all its factors.
Examples
factorize(12) ➞ [1, 2, 3, 4, 6, 12]

In [1]:
x=int(input('enter a number'))
factors=[]
for i in range(1,x+1):
    if x%i==0:
        factors.append(i)
print(factors)

enter a number12
[1, 2, 3, 4, 6, 12]

#### Q=> 34 Create a function to multiply all of the values in a list by the amount of values in the given list.
Examples
multiply_by_length([2, 3, 1, 0]) ➞ [8, 12, 4, 0]

In [2]:
x=[2, 3, 1, 0]
y=[]
for i in x:
    y.append(i*len(x))
print(y)

[8, 12, 4, 0]

#### Q 37. Create a function that takes a string and returns the number (count) of vowels contained within it.
Examples
count_vowels("Celebration") ➞ 5

In [ ]:
x = input("Enter a string: ")
vowels = {'a', 'e', 'i', 'o', 'u'}
for i in len(x):
    if x[i] in vowels:
        y += 1
print("vowels in string: ", y)

#### Q 38. Create a function which concatenates the number 7 to the end of every chord in a list. Ignore all chords which already end with 7.
Examples

jazzify(["G", "F", "C"]) ➞ ["G7", "F7", "C7"]

In [1]:
x = ["G", "F", "C"]
z = []
for i in x:
    z.append(i+"7")
print(z)

['G7', 'F7', 'C7']

#### Q 39. Create a function that takes an array of values resistance that are connected in series, and calculates the total resistance of the circuit in ohms. The ohm is the standard unit of electrical resistance in the International System of Units ( SI ).
Examples
series_resistance([1, 5, 6, 3]) ➞ "15 ohms"

In [2]:
x = [3,5,8,6]
resistance = 0
i= 0
while i< len(x):
    resistance += x[i]
    i+= 1
print(resistance)

22

#### Q 40. implement a function that returns a list containing all the consecutive numbers in ascendant order from the given value low up to the given value high (bounds included).
Examples
get_sequence(1, 5) ➞ [1, 2, 3, 4, 5]

In [3]:
start=int(input('enter start number'))
end=int(input('enter end number'))
result=[]
i=start
while i<=end:
    result.append(i)
    i+=1
print(result)

enter start number1
enter end number6
[1, 2, 3, 4, 5, 6]

#### Q 41. Write a function that turns a comma-delimited list into an array of strings.
Examples:

to_array("watermelon, raspberry, orange") ➞ ["watermelon", "raspberry", "orange"

In [4]:
x = "watermelon, raspberry, orange"
y = x.split(",")
print(f'{y}')

['watermelon', ' raspberry', ' orange']

#### Q 48.Create a function that takes a number as its argument and returns a list of all its factors.
Examples
factorize(12) ➞ [1, 2, 3, 4, 6, 12]

In [5]:
x=int(input('enter a number'))
factors=[]
for i in range(1,x+1):
    if x%i==0:
        factors.append(i)
print(factors)

enter a number12
[1, 2, 3, 4, 6, 12]