####  Q-1 Create a function that takes a list of numbers. Return the largest number in the list.

In [1]:
x=[12,58,354,245,988,254,974]
i=0
a = x[i]
while i<len(x):
    if x[i] > a:
        a= x[i]
    i+=1
print(a)

988

#### Q-2 Create a function that takes a list of numbers and returns the smallest number in the list.

In [2]:
x=[20,25,10,42,75]
i=0
small_number = x[i]
while i<len(x):
    if x[i] < small_number:
        small_number=x[i]
    i+=1
print(small_number)

10

#### Q-3 Create a function that takes a list and returns the difference between the biggest and smallest numbers.

In [3]:
x=[20,15,60,90,100,45,30,25,50]
i=0
largest_number,small_number= x[i],x[i]
while i<len(x):
    if x[i] > largest_number:
        largest_number=x[i] 
    elif x[i] < small_number:
        small_number=x[i]
    i+=1
print(largest_number-small_number)

85

### Q-4 Create a function that takes a list and returns the sum of all numbers in the list.

In [4]:
x=[20,15,60,90,100,45,30,25,50]
i=0
sn =0
while i<len(x):
    sn = sn+x[i]
    i+=1
print(sn)

435

#### Q-5 Create a function that takes a number (from 1 - 60) and returns a corresponding string of hyphens.

In [6]:
a=int(input('num'))
if i<=60:
    for i in range(1,a+1) :
        print('-', end='')
else:
    print('greater')

num55
-------------------------------------------------------

#### Q=>6  Write a function that takes an integer and returns a string with the given number of "a"s in Edabit.

In [7]:
a=int(input('enter a number '))
b='a'
for i in b :
    print('Ed'+ i*a + 'bit')

enter a number 25
Edaaaaaaaaaaaaaaaaaaaaaaaaabit

#### Q=>7  Create a function that returns the last value of the last item in a list or string.

In [8]:
x=[10,15,12,20,50,25,30,100,75]
count = 0
for i in x:
    if count== 9:
        max_ele = i
print(i)

75

#### Q-=>8  Create a function that finds the maximum range of a triangle's third edge, where the side lengths are all integers.
Examples next_edge(8, 10) ➞ 17

next_edge(5, 7) ➞ 11

next_edge(9, 2) ➞ 10

In [9]:
x=int(input("enter the side1 "))
b=int(input ('enter the side2 '))
side_3=x+b-1
print(side_3)

enter the side1 10
enter the side2 5
14

#### Q=>9  Create a function that takes two strings as arguments and returns the number of times the first string (the single character) is found in the second string.

In [10]:
a=input('small string ')
b= input(' long string ')
if a in b:
    c= b.count(a)
    print(c)

small string e
 long string amreeeen
4

#### Q=>10  Create a function that takes a list and a string as arguments and returns the index of the string.
* find_index(["hi", "edabit", "fgh", "abc"], "fgh") ➞ 2
* find_index(["Red", "blue", "Blue", "Green"], "blue") ➞ 1

In [11]:
a=['innomatics', 'class', 'room', 'amreen', 'shridhan']
b=input('enter string from a ')
for i in a:
    c= a.index(b)
print(c)

enter string from a amreen
3

#### Q=>11 Create a function which returns the length of a string, without using len().

* Examples
* length("Hello World") ➞ 11
* length("Edabit") ➞ 6

In [12]:
a=input('enter a string')
count=0
for i in a:
    count+=1
print(count)

enter a stringinnomatics
10

#### Q=>12  Create a function that takes a 2D list lst and returns the sum of the minimum value in each row.

* Examples
* sum_minimums([
  * [1, 2, 3, 4, 5],
  * [5, 6, 7, 8, 9],
  * [20, 21, 34, 56, 100]
* ]) ➞ 26

* minimum value of the first row is 1
* minimum value of the second row is 5
* minimum value of the third row is 20

In [13]:
a=[5,3,8,6,4]
b=[13,25,4,12,19]
c=[22,23,24,21]
i=0
min_a = a[i]
while i<len(a):
    if a[i]< min_a:
        min_a = a[i]
    i+=1
print(min_a)

i=0
min_b = b[i]
while i<len(b):
    if b[i]<min_b:
        min_b=b[i]
    i+=1
print(min_b)

i=0
min_c = c[i]
while i<len(c):
    if c[i]<min_c:
        min_c=c[i]
    i+=1
print(min_c)
print(min_a+min_b+min_c)

3
4
21
28

#### Q=>13 Given a letter and a list of words, return whether the letter does not appear in any of the words.
*Examples *forbidden_letter("r", ["rock", "paper", "scissors"]) ➞ False

*forbidden_letter("a", ["spoon", "fork", "knife"]) ➞ True

In [14]:
x=input('enter letter ')
y= ["rock", "paper", "scissors"]
i=0
while i<len(y):
    if x not in y[i]:
        print('true')
        i+=1
    else:
        print('false')

enter letter z
true
true
true

#### Q=>14 Create a function that finds each factor of a given number n. Your solution should return a list of the number(s) that meet this criteria.
* find_factors(9) ➞ [1, 3, 9]
* 9 has three factors 1, 3 and 9

In [16]:
x=int(input('enter a number'))
i=1
factors=[]
while i<=x:
    if x%i==0:
        factors.append(i)
    i+=1
print(factors)

enter a number12
[1, 2, 3, 4, 6, 12]

#### Q=>15 Given a string, create a function to reverse the case. All lower-cased letters should be upper-cased, and vice versa.
reverse_case("Happy Birthday") ➞ "hAPPY bIRTHDAY"

In [18]:
x='gOOd MorNinG'
i=0
s=" "
while i <len(x):
    if x[i].islower():
        s+=x[i].upper()
    if x[i].isupper():
        s+=x[i].lower()
    i+=1
print(s)

 GooDmORnINg

#### Q=>16 given a one word lowercase string txt, return another string such that even-indexed and odd-indexed characters are grouped and groups are space-separated.

Examples
even_odd_string("mubashir") ➞ "mbsi uahr"

 Letters at even indexes = "mbsi"
 
#Letters at odd indexes = "uahr"

#Join both strings with a space

In [4]:
x=input('enter the string: ')
i=0
e,o = '',''
while i <len(x):
    if i%2==0:
        e+=x[i]
    else:
        o+=x[i]
    i+=1
print(e,o)

enter the string: abcdef
ace bdf

#### Q=>17  Create a function which returns the total of all odd numbers up to and including n. n will be given as an odd number.

Examples
add_odd_to_n(5) ➞ 9
#1 + 3 + 5 = 9

In [11]:
x=int(input('enter the number'))
total=0
i=0
while i<=x:
    if i%2==1:
        total += i
        print(i)
    i+=1

enter the number9
1
3
5
7
9

#### Q=> 18 Create a function that takes a number n and returns the sum of all square numbers up to and including n.

squares_sum(3) ➞ 14
#1² + 2² + 3² =
#1 + 4 + 9 =
#14

In [ ]:
n=int(input('enter the number'))
i=0
total=0
while i <= n:
     total+=i**2 
i+=1
print(total)

enter the number3

In [ ]:
n=int(input('enter the number'))
i=1
total=0
while i <= n:
     total+=i**2 
i+=1
print(total)

enter the number4

#### Q-19 Given a list of numbers, negate all elements contained within.

Negating a positive value -+n will return -n, because all +'s are removed.
Negating a negative value --n will return n, because the first - turns the second minus into a +.
Examples
negate([1, 2, 3, 4]) ➞ [-1, -2, -3, -4]

negate([-1, 2, -3, 4]) ➞ [1, -2, 3, -4]

negate([]) ➞ []

In [7]:
x= [-1,2,-3,4]
i=0
while i < len(x):
      x[i] = -(x[i])
      i+=1
print(x)

[1, -2, 3, -4]

#### Q=>20 A number added with its additive inverse equals zero. Create a function that returns a list of additive inverses.

Examples
additive_inverse([5, -7, 8, 3]) ➞ [-5, 7, -8, -3]

additive_inverse([1, 1, 1, 1, 1]) ➞ [-1, -1, -1, -1, -1]

additive_inverse([-5, -25, 35]) ➞ [5, 25, -35]
Notes

In [2]:
n=[-1,-2,-3,4,5,6]
i=0
while i <= len(n):
    n[i] = -(n[i])
    i+=1    
print(n)

IndexError: list index out of range

#### Q=>21Write a function that takes the last number of a consecutive list of numbers and returns the total of all numbers up to and including it.

Examples
add_up_to(3) ➞ 6
#1 + 2 + 3 = 6

add_up_to(10) ➞ 55
#1 + 2 + 3 + ... + 10 = 55

add_up_to(7) ➞ 28

In [2]:
x=int(input('enter the number:'))
sum_total=0
i=0
while i <= x:
    sum_total+=i
    i+=1
print(sum_total)

enter the number:9
45

#### Q=> 22 Create a function that takes two parameters (start, stop), and returns the sum of all even numbers in the range.

Examples
sum_even_nums_in_range(10, 20) ➞ 90
#10, 12, 14, 16, 18, 20

In [4]:
x=int(input('enter the start number:'))
y=int(input('enter the end number:'))
even_total=0
i=x
while i <= y:
    if i%2==0:
        even_total+=i
    i+=1
print(even_total)

enter the start number:10
enter the end number:20
90

#### Q=> 23 A palindrome is a word that is identical forward and backwards.

mom
racecar
kayak
Given a word, create a function that checks whether it is a palindrome.

Examples
is_palindrome("mom") ➞ True

is_palindrome("scary") ➞ False

In [5]:
x=input('enter the string')
y=x[::-1]
if x ==y:
    print('true')
else:
    print('false')

enter the stringeye
true

#### Q=>24 Implement a function that returns a list containing all the consecutive numbers in ascendant order from the given value low up to the given value high (bounds included).

Examples
get_sequence(1, 5) ➞ [1, 2, 3, 4, 5]

In [ ]:
x=int(input('enter the start number'))
y=int(input('enter the end number'))

### Q=>25 Create a function that finds the index of a given item.

Examples
search([1, 5, 3], 5) ➞ 1

In [ ]:
x=[1,9,2,8,4,5]
y=int(input('enter the number from list:'))
i=0
while i <= len(x):
    if y == x[i]:
        i+=1
        print(i)

#### Q=> 26 Given a string of letters, how many capital letters are there?

Examples
capital_letters("fvLzpxmgXSDrobbgMVrc") ➞ 6

In [3]:
x=input('enter the string:')
count=0
i=0
while i < len(x):
    if x[i].isupper():
        count+=1
    i+=1    
print(count)

enter the string:fvLzpxmgXSDrobbgMVrc"
6

#### Q=>26 Create a function that takes a number num and returns the first 10 multiples of num with 1 added to it, separated by commas.

Examples
n_tables_plus_one(7) ➞ "8,15,22,29,36,43,50,57,64,71"

In [1]:
x=int(input('enter the number'))
i=1
while i <= 10:
    print(x*i+1)
    i+=1

enter the number3
4
7
10
13
16
19
22
25
28
31

#### Q=>27 Create a function that adds a string ending to each member in a list.

Examples
add_ending(["clever", "meek", "hurried", "nice"], "ly")
➞ ["cleverly", "meekly", "hurriedly", "nicely"]

In [5]:
x=["clever", "meek", "hurried", "nice"]
y=[]
i=0
while i < len(x):
    y.append(x[i]+'ly')
    i+=1
print(y)

['cleverly', 'meekly', 'hurriedly', 'nicely']

### Q=>28 Create a function that takes a list of numbers and returns the sum of its cubes.

Examples
sum_of_cubes([1, 5, 9]) ➞ 855
#Since 1^3 + 5^3 + 9^3 = 1 + 125 + 729 = 855

sum_of_cubes([3, 4, 5]) ➞ 216

In [6]:
x=[5,4,7,8]
y=[]
i=0
while i < len(x):
    y.append(x[i]**3)
    i+=1
sum(y)

1044

#### Q=>29 Create a function that returns the minimum number of elements removed to make the sum of all elements in a list even.

Examples
minimum_removals([1, 2, 3, 4, 5]) ➞ 1
countdown(1) ➞ [1, 0]

countdown(0) ➞ [0]

In [5]:
x=[1, 2, 3, 4, 5]
if sum(x)%2==0:
    print(0)
else:
    print(1)

1

#### Q30 Create a function that takes a number as an argument and returns a list of numbers counting down from this number to zero.
Examples countdown(5) ➞ [5, 4, 3, 2, 1, 0]

countdown(1) ➞ [1, 0]


countdown(0) ➞ [0]

In [7]:
x=int(input('enter the number'))
y=[]
i=0
while i <=x:
    y.append(x-i)
    i+=1
print(y)

enter the number10
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

#### Q=>31 Create a function that takes a string road and returns the car that's in first place. The road will be made of "=", and cars will be represented by letters in the alphabet.

Examples
first_place("====b===O===e===U=A==") ➞ "A"

first_place("e==B=Fe") ➞ "e"

first_place("proeNeoOJGnfl") ➞ "l"

In [22]:
y="====b===O===e===U=A=="
i=1
while i < len(y):
    if y[-i].isalpha():
        z=y[-i]
        break
    i+=1
print(z)

A

#### Q=>32  Write a function that returns True if all integers in a list are factors of a number, and False otherwise.

Examples
check_factors([2, 3, 4], 12) ➞ True
#Since 2, 3, and 4 are all factors of 12.

In [6]:
x=[2,3,4,5]
z= True
y=int(input('enter the number'))
i=0
while i < len(x):
    if y%x[i]==0:
        z =z and True
    else:
        z = z and False
    i+=1
print(z)

enter the number12
False

#### Q=>33 A value is omnipresent if it exists in every sublist inside the main list.

To illustrate:

[[3, 4], [8, 3, 2], [3], [9, 3], [5, 3], [4, 3]]
#3 exists in every element inside this list, so is omnipresent.
Create a function that determines whether an input value is omnipresent for a given list.

Examples
is_omnipresent([[1, 1], [1, 3], [5, 1], [6, 1]], 1) ➞ True

is_omnipresent([[1, 1], [1, 3], [5, 1], [6, 1]], 6) ➞ False

In [2]:
x=int(input('enter the number:'))
y=[[3, 4], [8, 3, 2], [3], [9, 3], [5, 3], [4, 3]]
z=True
i=0
while i <len(y):
    if x in i:
        z= z and True
    else:
        z=z and False
    i+=1    
if z== True:
    print('omnipresent')
else:
    print('not omnipresent')

enter the number:3

TypeError: argument of type 'int' is not iterable

#### Q=>33 Create a function that takes a number as its argument and returns a list of all its factors.
Examples
factorize(12) ➞ [1, 2, 3, 4, 6, 12]

In [3]:
x=int(input('enter a number'))
i=1
factors=[]
while i<=x:
    if x%i==0:
        factors.append(i)
    i+=1 
print(factors)

enter a number12
[1, 2, 3, 4, 6, 12]

#### Q=>34 Write a function that takes all even-indexed characters and odd-indexed characters from a string and concatenates them together.
To illustrate:

index_shuffle("abcd") ➞ "acbd"

// "ac" (even-indexed) + "bd" (odd-indexed)

In [8]:
x='amreenshaikh'
i=0
even=''
odd=''
while i<len(x):
    if i%2==0:
        even+=x[i]
    if i%2!=0:
        odd+=x[i]
    i+=1
print(even+odd)

aresakmenhih

#### Q=>35 Create a function to multiply all of the values in a list by the amount of values in the given list.
Examples
multiply_by_length([2, 3, 1, 0]) ➞ [8, 12, 4, 0]

In [9]:
x=[2, 3, 1, 0]
i=0
y=[]
while i<len(x):
    y.append(x[i]*len(x))
    i+=1
print(y)

[8, 12, 4, 0]

###### 36. Create a function that takes a string and returns the number (count) of vowels contained within it.
Examples
count_vowels("Celebration") ➞ 5

In [1]:
x = input("Enter a string: ")
vowels = {'a', 'e', 'i', 'o', 'u'}
i = 0
y = 0
while i< len(x):
    if x[i] in vowels:
        y += 1
    i+= 1
print("vowels in string: ", y)

Enter a string: amreen
vowels in string:  3

#### Q 37. Create a function which concatenates the number 7 to the end of every chord in a list. Ignore all chords which already end with 7.
Examples

jazzify(["G", "F", "C"]) ➞ ["G7", "F7", "C7"]

In [2]:
x = ["G", "F", "C"]
z = []
i = 0
while i < len(x):
    z.append(x[i] + "7")
    i+= 1
print(z)

['G7', 'F7', 'C7']

#### Q 38. Create a function that takes an array of values resistance that are connected in series, and calculates the total resistance of the circuit in ohms. The ohm is the standard unit of electrical resistance in the International System of Units ( SI ).
Examples
series_resistance([1, 5, 6, 3]) ➞ "15 ohms"

In [3]:
x = [3,5,8,6]
resistance = 0
i= 0
while i< len(x):
    resistance += x[i]
    i+= 1
print(resistance)

22

#### Q 40. implement a function that returns a list containing all the consecutive numbers in ascendant order from the given value low up to the given value high (bounds included).
Examples
get_sequence(1, 5) ➞ [1, 2, 3, 4, 5]

In [4]:
start=int(input('enter start number'))
end=int(input('enter end number'))
result=[]
i=start
while i<=end:
    result.append(i)
    i+=1
print(result)

enter start number1
enter end number6
[1, 2, 3, 4, 5, 6]

#### Q 41. Write a function that turns a comma-delimited list into an array of strings.
Examples:

to_array("watermelon, raspberry, orange") ➞ ["watermelon", "raspberry", "orange"

In [5]:
x = "watermelon, raspberry, orange"
y = x.split(",")
print(f'{y}')

['watermelon', ' raspberry', ' orange']

#### Q 42. Given a number n, return a list containing several lists. Each list increments in size, from range 1 to n inclusive, contaning its length as the elements.
Examples

pyramid_lists(1) ➞ [[1]]

pyramid_lists(3) ➞ [[1], [2, 2], [3, 3, 3]]

In [1]:
x=int(input('enter a number'))
y=[]
for i in range(1,x+1):
    y.append([i]*i)
print(y)

enter a number3
[[1], [2, 2], [3, 3, 3]]

#### Q 43. create a function that number in given range is divisible by 3 and 5 also it is odd number

In [2]:
x=int(input('enter start'))
y= int(input('enter end'))
for ele in range(x,y):
    if ele%3==0 and ele%5==0  and ele%2!=0:
        print(ele)

enter start1
enter end20
15

#### Q 44. 8.Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only.
Examples
filter_list([1, 2, 3, "a", "b", 4]) ➞ [1, 2, 3, 4]

In [4]:
x= ["abs", "erf",8,1]
y = x
filtered_list = []
i = 0

while i < len(y):
    item = y[i]
    if isinstance(item, int):
        filtered_list.append(item)
    i+= 1

print(filtered_list)

[8, 1]

#### Q.45. Hamming distance is the number of characters that differ between two strings.
To illustrate: String1: "abcbba" ,String2: "abcbda"
Hamming Distance: 1 - "b" vs. "d" is the only difference.Create a function that computes the hamming distance between two strings.
Examples
hamming_distance("abcde", "bcdef") ➞ 5

In [5]:
string1 = input("Enter the first string: ")
string2 = input("Enter the second string: ")
hamming_distance = 0
index = 0

while index < len(string1):
    if string1[index] != string2[index]:
        hamming_distance += 1
    index += 1

print(hamming_distance)

Enter the first string: strong
Enter the second string: strung
1

#### Q 46. .Create a function that takes a list and finds the integer which appears an odd number of times.
Examples

find_odd([1, 1, 2, -2, 5, 2, 4, 4, -1, -2, 5]) ➞ -1

find_odd([20, 1, 1, 2, 2, 3, 3, 5, 5, 4, 20, 4, 5]) ➞ 5

In [6]:
num_list = [20, 1, 1, 2, 2, 3, 3, 5, 5, 4, 20, 4, 5]
odd_integer = None
i = 0

while i < len(num_list):
    num = num_list[i]
    if num_list.count(num) % 2 == 1:
        odd_integer = num
        break
    i += 1
print(odd_integer)

5

#### Q 48. Create a function that repeats each character in a string n times.
Examples
repeat("mice", 5) ➞ "mmmmmiiiiiccccceeeee

In [ ]:
x=input('enter a string')
y= int(input('enter repeat'))
i=0
z=''
while i<len(x):
    z+=x[i]*y
    i+=1
print(z)

In [1]:
x=input('enter a string')
y= int(input('enter repeat'))
i=0
z=''
while i<len(x):
    z+=x[i]*y
    i+=1
print(z)

enter a stringmice
enter repeatmmmmmiiiiiccccceeeee

ValueError: invalid literal for int() with base 10: 'mmmmmiiiiiccccceeeee'

#### Q 48.Create a function that takes a number as its argument and returns a list of all its factors.
Examples
factorize(12) ➞ [1, 2, 3, 4, 6, 12]

In [2]:
x=int(input('enter a number'))
i=1
factors=[]
while i<=x:
    if x%i==0:
        factors.append(i)
    i+=1 
print(factors)

enter a number12
[1, 2, 3, 4, 6, 12]

#### Q 49. Create a function that takes a list of names and returns a list where only the first letter of each name is capitalized.
Examples
cap_me(["mavis", "senaida", "letty"]) ➞ ["Mavis", "Senaida", "Letty"

In [3]:
x=["mavis", "senaida", "letty"]
i=0
y=[]
while i<len(x):
    y.append(x[i].title())
    i+=1
print(y)

['Mavis', 'Senaida', 'Letty']

#### Q 50. create a function that returns the index of the first vowel in a string.
Examples
first_vowel("apple") ➞ 0

In [4]:
x=input('enter a string')
i=0
while i<len(x) :
    if x[i] in 'aeiou':
        print(i)
    i+=1

enter a stringamreen
0
3
4