### List Comprehension:
Easy: Create a list comprehension that generates a list of squares of numbers from 1 to 10.
Output: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [1]:
l_c=[i**2 for i in range(1,11)]
print(l_c)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### Medium: Given a list of words, create a list comprehension to filter out words that are longer than 5 characters.
Input: ['apple', 'banana', 'cherry', 'date', 'elderberry']
Output: ['apple', 'cherry', 'date']

In [13]:
x= ['apple', 'banana', 'cherry', 'date', 'elderberry']
l_c = [i for i in x if len(i) <= 5]
print(l_c)

['apple', 'date']

### Easy: Create a list containing the numbers 1 to 5 and then append the number 6 to it.
Output: [1, 2, 3, 4, 5, 6]

In [17]:
l=[1,2,3,4,5]
l.append(6)
print(l)

[1, 2, 3, 4, 5, 6]

#### Given two lists, merge them into a single list without duplicates.
Input:
List 1: [1, 2, 3, 4]
List 2: [3, 4, 5, 6]
Output: [1, 2, 3, 4, 5, 6]

In [29]:
a=[1, 2, 3, 4]
b=[3, 4, 5, 6]
c=list(set(a+b))
print(c)

[1, 2, 3, 4, 5, 6]

####   Given two lists, merge them into a single list without duplicates.
Input:
List 1: [1, 2, 3, 4]
List 2: [3, 4, 5, 6]
Output: [1, 2, 3, 4, 5, 6]

#### Map:
Easy: Use the map function to double each element in a list.
Input: [1, 2, 3, 4, 5]
Output: [2, 4, 6, 8, 10]

In [1]:

x=[1,2,3,4,5] 
def add(x):
    return x+x
xm=list(map(add,x))
print(xm)

[2, 4, 6, 8, 10]

#### Medium: Use the map function to convert a list of strings to uppercase.
Input: ['apple', 'banana', 'cherry']
Output: ['APPLE', 'BANANA', 'CHERRY']

In [8]:
x= ['apple', 'banana', 'cherry'] 
def swapcase(x):
    return x.swapcase()
xm=list(map(swapcase,x))

In [3]:
x= ['apple', 'banana', 'cherry'] 
def upper(x):
    return x.upper()
xm=list(map(upper,x))

In [4]:
xm

['APPLE', 'BANANA', 'CHERRY']

####  Easy: Use the filter function to get all even numbers from a list.
Input: [1, 2, 3, 4, 5, 6]
Output: [2, 4, 6]

In [46]:
x=[1, 2, 3, 4, 5, 6] 
e= lambda x: True if x%2==0 else False
y=list(filter(e,x))
y

[2, 4, 6]

#### Medium: Use the filter function to get all words from a list that start with the letter 'b'.
Input: ['apple', 'banana', 'cherry', 'blueberry', 'date']
Output: ['banana', 'blueberry']

In [57]:
a=['apple', 'banana', 'cherry', 'blueberry', 'date']
e= lambda x: True if x.startswith('b') else False
y=list(filter(e,a))
y

['banana', 'blueberry']

### Functions:
Easy: Write a function called add that takes two numbers as input and returns their sum.
Input: add(3, 4)
Output: 7

In [64]:
def add (a,b):
    return a+b
add(3,4)

7

In [63]:
add(3,4)

#### Write a function called calculate_average that takes a list of numbers as input and returns the average (mean) of those numbers.
Input: calculate_average([1, 2, 3, 4, 5])
Output: 3.0

In [68]:
def mean (x):
    return sum(x)/len(x)
mean([1, 2, 3, 4, 5])

3.0

In [61]:
z = list(map(len, ['welcome','to','innomatics']))

In [10]:
z

[7, 2, 10]

In [11]:
z = [len(ele) for ele in y]

In [12]:
z

[2, 4, 2, 6]

In [18]:
z = lambda x: True if x%2 !=0 else False

In [19]:
l = [1,2,3,4,5,6,7,8,9,10]

In [20]:
f = list(filter(z, l))

In [21]:
f

[1, 3, 5, 7, 9]

In [22]:
import functools
from functools import reduce

In [30]:
def add(x,y):
    return x+' '+y
r = reduce(add,['apple', 'banana', 'cherry'] )

In [31]:
r

'apple banana cherry'

In [27]:
sum([1,2,3,4,5,6,7,8,9,10])

55